---
layout: splash
title: ""
permalink: /
author_profile: false
---
<body>
Welcome! This page offers an overview of recent projects and posts I have put together. Check <a href="/posts/">Posts</a> for all my blog plots and <a href="/projects/">Projects</a> for all my previous projects. If you are interested in getting to know me, please check my <a href="/about/">About</a> page!

</body>

<div class="cf">
<h2>Recent Projects</h2>
<div class="grid__wrapper">
	{% for post in site.projects limit: 4%}
		{% include archive-single.html type="grid" %}
	{% endfor %}
</div>
</div>

<div class="cf">
<h2>Recent Posts</h2>
<div class="grid__wrapper">
	{% for post in site.posts limit: 4 %}
		{% include archive-single.html type="grid" %}
	{% endfor %}
</div>
</div>
